<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
  
    <h1>Hello World</h1>

  </div>

  <input class="search" type="text" placeholder="Enter zip code">
  <button type="button" onClick="searchWeather()">Search Weather</button>
  
  <div class="error-message"></div>

  <div class="city"></div>

  <div class="temp"></div>

  <button onClick="handleSignIn()">Login</button>

  <form onSubmit="handleMessageFormSubmit()" action="#">
    Title:<br />
    <input id="post-title"><br />
    Body: <br />
    <textarea area id="post-body"></textarea><br />
    <button>Submit</button>
    <div class="firebase-error-message"></div>
  </form>

  <div id="post-listing">
    
  </div>

</body>

</html>